{{ define "main" }}

<main aria-role="main" id="home">
    <section id="title">
        {{ if .Site.Params.portrait.path }}
        <img src="{{ .Site.Params.portrait.path }}" class="circle" alt="{{ .Site.Params.portrait.alt }}" />
        {{ end }}

        <h1 id="site-title">{{ .Site.Title | markdownify }}<br /></h1>
        <p class="size-l">{{ .Site.Params.homeSubtitle | markdownify }}</p>
    </section>

    <blockquote>
        <p>A lack of soft skills is more likely to get an individual’s employment terminated than a lack of cognitive or technological skills.</p>
        <footer>
            <cite>
                <a href="https://arxiv.org/abs/1507.06873" class="source" title="Soft Skills and Software Development: A Reflection from Software Industry" target="_blank">Soft Skills and Software Development</a>
            </cite>
        </footer>
    </blockquote>

    <section id="description" class="subscription col-2">
        <div class="block">
        <p> This book will be about:</p>
        <ul>
            <li>💬 Communication</li>
            <li>🧠 Cognitive biases</li>
            <li>😓 Stress management</li>
            <li>🥵 Burnout</li>
            <li>😱 Imposter syndrome</li>
        </ul>
        <p>Be part of the adventure! You'll have access to the early releases with a discount.</p>
        <form
            action="https://buttondown.email/api/emails/embed-subscribe/matthieu"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://buttondown.email/matthieu', 'popupwindow')"
            class="embeddable-buttondown-form">
            <input type="email" name="email" placeholder="your-email@example.com" id="bd-email">
            <input type="hidden" value="1" name="embed"></input>
            <input type="submit" value="I'm in!" id="subscribe"></input>
        </form>
        </div>
        <aside>
            <!-- <a title="I want the book!" href="https://flurly.com/p/mouseless-book"> -->
                <picture>
                    <source srcset="images/index/small_cover.webp" type="image/webp">
                        <img src="images/index/small_cover.jpg" alt="cover of the book Building Your Mouseless Development Environment">
                </picture>
            <!-- </a> -->
        </aside>
    </section>

    <!-- <section id="get-sample"> -->
    <!--     <div> -->
    <!--         <a title="sample of the book" href="/content/building_mouseless_environment_sample.pdf" target="_blank"> -->
    <!--             <button>Show me a sample</button> -->
    <!--         </a> -->
    <!--     </div> -->
    <!-- </section> -->

    <!-- <h2>What Will This Book Bring You?</h2> -->
    <!-- <section id="benefits" class="col-4"> -->
    <!--     <div> -->
    <!--         <i class="fas fa-keyboard fa-2x"></i> -->
    <!--         <p>A scalable development environment where you mainly <strong>use your keyboard to increase your efficiency</strong>.</p> -->
    <!--     </div> -->
    <!--     <div> -->
    <!--         <i class="fas fa-wrench fa-2x"></i> -->
    <!--         <p>Precise explanations how to configure everything, depending on your needs. You'll be in control, <strong>deciding what's more efficient for you</strong>.</p> -->
    <!--     </div> -->
    <!--     <div> -->
    <!--         <i class="fas fa-terminal fa-2x"></i> -->
    <!--         <p><strong>Knowledge about Linux and the terminal</strong>. You'll learn to use timeless, customizable, and powerful tools.</p> -->
    <!--     </div> -->
    <!--     <div> -->
    <!--         <i class="fas fa-download fa-2x"></i> -->
    <!--         <p>How to build a <strong>personalized installer</strong> to bring all your tools and their configurations easily on any computer.</p> -->
    <!--     </div> -->
    <!-- </section> -->

    <!-- <section id="get-mouseless-book"> -->
    <!--     <div> -->
    <!--         <p><b>300</b> happy customers the first month.</p> -->
    <!--         <p><b>0</b> asked for a refund.</p> -->
    <!--         <button><a title="I want the book!" href="https://flurly.com/p/mouseless-book">I want the book!</a></button> -->
    <!--     </div> -->
    <!-- </section> -->

    <!-- <section id="reviews"> -->
    <!--     <blockquote> -->
    <!--         Reading your book has been my guilty pleasure for the past month. I can imagine how much fun you had writing it. Thank you for sharing! -->
    <!--         <footer> -->
    <!--             <cite> -->
    <!--             <a href="https://github.com/chunyunma" class="source" title="Chunyun" target="_blank">Chunyun Ma, Statistics Consultant</a> -->
    <!--             </cite> -->
    <!--         </footer> -->
    <!--     </blockquote> -->
    <!--     <blockquote> -->

    <!--         <label for="element-toggle-1">[...]</label> -->
    <!--         <input class="element-toggle" id="element-toggle-1" type="checkbox" /> -->
    <!--         <p class="toggled-element">For years, I have been working back and forth on macOS and Gnome based Linux (mostly Ubuntu), but I always have been curious about using a window manager like i3. My problem was that I had no idea where to start and like many people, I lacked the time to search for good tutorials. Then I saw a post on Reddit by Matthieu asking people to please check out his new book, a book about exactly what I have been wanting, a book about i3 and other mouseless tools! Let me tell you that it does exactly what it says on the cover, it will change the way you work for the better. I have now been running Arch and i3 exclusively and I have never been as productive behind my keyboard. The book is also a great introduction to Vim and Tmux, which I have been using for years, but Matthieu still managed to teach me a few things about it.</p> -->
    <!--         I highly recommend this book to every software developer; get it, read it and get sh*t done by being a lot more productive. -->
    <!--         <footer> -->
    <!--             <cite> -->
    <!--             <a href="https://www.fanpowerapp.com/" class="source" title="Chunyun" target="_blank">J.F. Turcot, CTO at Fanpower</a> -->
    <!--             </cite> -->
    <!--         </footer> -->
    <!--     </blockquote> -->
    <!-- </section> -->

    <!-- <blockquote> -->
    <!--     <p>There are ways to amuse yourself while doing things and that's how I look at efficiency.</p> -->
    <!--     <footer> -->
    <!--         <strong>Donald Knuth</strong> -->
    <!--         <cite></cite> -->
    <!--     </footer> -->
    <!-- </blockquote> -->

    <!-- <section class="even" id="video"> -->
    <!--     <h2>Quick Overview</h2> -->
    <!--     <div> -->
    <!--         <iframe src="https://www.youtube.com/embed/67lbLKTm91U" allowfullscreen> -->
    <!--         </iframe> -->
    <!--     </div> -->
    <!-- </section> -->

    <!-- <section id="get-mouseless-book"> -->
    <!--     <div> -->
    <!--         <button><a title="I'm convinced!" href="https://flurly.com/p/mouseless-book">Gimme this book!</a></button> -->
    <!--     </div> -->
    <!-- </section> -->

    <h2 id="author">About The Author</h2>
    <section class="col-2" id="about">
        <div class="block img">
            <picture>
                <source srcset="images/index/matthieu.webp" type="image/webp">
                <img src="images/index/matthieu.jpg" alt="photo of the author of the book Matthieu Cneude">
            </picture>
        </div>
        <div class="block description">
            <p>Hi! I'm Matthieu.</p>
            <p>I've been coding as a hobby for 20 years, professionally for 10 years.</p>
            <p>I've worked from extra small to extra big companies, mentoring and leading developer teams.</p>
            <p>Teaching is very rewarding to me. That's why I love writing for my blog, <a target="_blank" href="https://thevaluable.dev/">The Valuable Dev.</a></p>
        </div>
    </section>


</main>
{{ end }}
